In [17]:
from config import password
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [11]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/sql_challenge')
connection = engine.connect()

Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['titles', 'employees', 'departments']

In [14]:
inspector = inspect(engine)
inspector.get_table_names()

['titles',
 'employees',
 'salaries',
 'dept_manager',
 'departments',
 'dept_employee']

In [23]:
column_salary = inspector.get_columns('salaries')
for column in column_salary:
    print(column['name'], column['type'])
    
column_employees = inspector.get_columns('employees')
for column in column_employees:
    print(column['name'], column['type'])

emp_no INTEGER
salary INTEGER
emp_no INTEGER
emp_title_id TEXT
birth_date DATE
first_name TEXT
last_name TEXT
sex TEXT
hire_date DATE

In [18]:
session = Session(engine)
session.query('salaries')